:root {
    --cb: cubic-bezier(0.1,0.5,0.1,0.1);
    --green:#badc58;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}
body{
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2rem;
    line-height: 1.5;
    background-color: #535353;
    color: #fff;
    text-align: center;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
    height:auto;
}

.pricelist-item img{
    width: .75rem;
    height:auto ;
    margin-left: 1px;
    margin-right: 5px;
}


/* Header Start */
#header{
    padding: 2rem;
}
#header ul {
    list-style: none;
}

#header h1 {
    padding: 8rem;
    padding-bottom: 0;
}
.header-img {
    background: var(--bg);
    background-size: cover;
    background-position:center;
    width: 100%;
    height: 30rem;
    border-radius: 1rem;
}

.btn {
    display: inline-block;
    background: #333;
    color: #fff;
    border: 1px solid #666;
    border-radius: 1rem;
    padding: 1.6rem 3.2rem;
    margin: .5rem;
    transition: all 0.3s;
}
.btn:hover {
    background-color:#eaeaea;
    color: #333;
}
/* Header End */

/* Card Start */
#cards .card-list h2{
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right,#0004,#badc58);
    height: 4rem;
    border-radius: 1rem;
    background-size: cover;
    background-position:center;
    margin-bottom: 1rem;
}
#cards {
    padding: 2rem;
}

#cards ul {
    list-style: none;
}

#cards ul .card {
    margin-bottom: 1rem;
    height: 4rem;
    background: var(--bg);
    border-radius: 1rem;
    background-size: cover;
    background-position:center;
    transition: 1s var(--cb);
}
#cards ul .card.active{
    height: 30rem;
}
#cards ul li .label{
    display: flex;
    align-items: center;
}
#cards ul .card.active .label{
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    
}
#cards ul .card:not(.active) .label{
    display: flex;
    margin-left: 2rem;
}
#cards ul .card:not(.active) .info{
    margin-left: 1rem;
}
#cards ul .card:not(.active) .shadow{
    display: none;
}
#cards ul li .label .icon{
    background: var(--green);
    width: 3rem;    
    height: 3rem;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: .5rem;
    margin-bottom: auto;
}



/* Card End */  

/* Menu start */
.shadow{
    width: 80%;
    height: 12rem;
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
    transition: 1s var(--cb);
    background: linear-gradient(to right,#0004,#badc58);
}
.shadow .sort h4{
    margin-bottom: .5rem;
}
/* Menu end */



/* Footer Start */
#footer{
    padding: 2rem;
}
#footer ul {
    list-style: none;
}

#footer h1 {
    padding: 4rem;
}
.footer-img {
    background: var(--bg);
    background-size: cover;
    background-position:center;
    width: 100%;
    height: auto;
    border-radius: 1rem;
}

.btn {
    display: inline-block;
    background: #333;
    color: #fff;
    border: 1px solid #666;
    border-radius: 1rem;
    padding: 1.6rem 3.2rem;
    margin: .5rem;
    transition: all 0.3s;
}
.btn:hover {
    background-color:#eaeaea;
    color: #333;
}
/* Footer End */





